@page "/"

<h1>Load components from a shared component library</h1>

Loads components from a shared component library this way you wont have to have duplicate components.

TIP: remember to add the library using refrence in _imports.razor
